/* @charset 'UTF-8'; */

@font-face {
  font-family: "GraphikWebfont";
  src: url('/fonts/graphik-regular-webfont.eot');
  src: url('/fonts/graphik-regular-webfont.eot') format('embedded-opentype'),
       url('/fonts/graphik-regular-webfont.woff') format('woff'),
       url('/fonts/graphik-regular-webfont.ttf')  format('truetype'),
       url('/fonts/graphik-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#mainContainer {
  width: 570px;
  margin: 0;
  padding: 0;
  display: block;
}

#totalReviews {
  width: 570px;
  height: 55px;
  font-family: "GraphikWebfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 12px;
  color: #444;
}

#reviewCount {
  display: inline-block;
  color: gray;
  margin: 5px;
}

#review {
  font-family: "GraphikWebfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 12px;
  color: #444;
}

#ratingDate {
  display: inline-block;
  width: 570px;
}

#rating {
  display: inline-block;
}

#date {
  display: inline-block;
  float: right;
}

.star {
  fill: #FFA300;
  width: 17px;
}