/* @charset 'UTF-8'; */

@font-face {
  font-family: "GraphikWebfont";
  src: url('/fonts/graphik-regular-webfont.eot');
  src: url('/fonts/graphik-regular-webfont.eot') format('embedded-opentype'),
       url('/fonts/graphik-regular-webfont.woff') format('woff'),
       url('/fonts/graphik-regular-webfont.ttf')  format('truetype'),
       url('/fonts/graphik-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#mainContainer {
  width: 570px;
  margin: 0;
  padding: 0;
  display: block;
  border-top: 1px solid #e0e0eb;
}

review:hover {
  text-decoration: underline;
}

#totalReviews {
  width: 570px;
  height: 15px;
  font-family: "GraphikWebfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #444;
}

#strong {
  padding-right: 14px;
  color: black;
}

#reviewCount {
  display: inline-block;
  color: gray;
  margin: 5px;
  padding-left: 8px;
}

#userInfo {
  display: inline-block;
  float: left;
  width: 142px;
  height: 90px;
  text-align: center;
  padding-bottom: 25px;
}

#otherStuff {
  display: inline-block;
  width: 427px;
}

#review {
  font-family: "GraphikWebfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-size: 13px;
  color: #444;
  border-bottom: 1px solid #e0e0eb;
  padding-bottom: 15px;
  padding-top: 15px;
}

#ratingDate {
  padding-bottom: 13px;
}

#otherStuff {
  width: 428px;
}

#rating {
  display: inline-block;
}

#date {
  display: inline-block;
  float: right;
}

.star {
  fill: #FFA300;
  width: 17px;
}

.noStars {
  fill: gray;
  width: 17px;
}

.productReview {
  width: 450px;
  line-height: 22px;
}

.userThumbnails {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.itemThumbnail {
  display: inline-block;
  padding-top: 10px;
  width: 75px;
  height: 75px;

}

.itemreviews {
  float: right;
  line-height: 20px;
  font-size: 11px;
  width: 330px;
  padding-top: 15px;
}